.main-flex-container{
    border-style: solid;
    border-color: red;
    border-width: 3mm;
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.hero-container{
    border-style: solid;
    border-color: aqua;
    border-width: 3mm;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}
#content-container{
    border-style: solid;
    border-color: rgb(62, 189, 111);
    border-width: 3mm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card-container{
    /* border-style: solid;
    border-color: purple;
    border-width: 3mm; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 46%;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
}
#my-boy {
    height: 45%;
    
}
img {
    width: 95%;
    transition: .3s;
}
img:hover{
    border-radius: 1000px;
}



@media only screen and (max-width:821px) {
    .card-container{
        width: 70%;
    }
}