/* normalizing our CSS  */
*, 
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

* {
    /* color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

body {
    background-color: rgb(224, 164, 184);
}

#contact {
    background-color: rgb(161, 240, 227);
    color: aliceblue;
}

p {
    color: blue;
}

/* class selector */
.my-ps {
    background-color: rgb(71, 246, 246);
}

.my-width {
    width: 200px;
}

li {
    color: hotpink;
}

.box {
    background-color: slateblue;

    padding: 10px;
    border-style: double;
    border-color: rgb(43, 46, 226);
    border: rgb(214, 45, 45);
    box-shadow: grey 10mm;
}

footer {
    background-color: rgb(236, 236, 141);



}

/* child selector */
footer>h3 {
    background-color: rgba(225, 199, 166, 0.635);
}

footer>ul>li {
    color: rgb(133, 247, 10);
    border-radius: 30px;
}